*{
    margin: 30 px;
    padding: 0;
    box-sizing: border-box;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.center{
    display: flex;
    flex-wrap: wrap;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 2%;
}

.dropbt{
    max-width: 1280px;
    margin: 0 auto;
    padding: 2% 2%;
}

html, body {
    height: 100%;
}

.homepage {
    overflow-y: hidden;
    overflow-x: hidden;
}

.header{
    height: 200px;
    padding: 20px 0;
}

.logo{
    width: 50%;
}

.smartphone{
    position: absolute;
    width: 70%;
    right: 500px;
    top: -50px;
}

.pessoal{
    position: absolute;
    width: 50%;
    right: 500px;
    top: 70px;
}

.menu{

    padding-top: 30px;
    width: 50%;
    text-align: right;
}

.menu a{
    color: black;
    text-decoration: none;
    font-weight: bold;
    margin-right: 15px;
}

section.sobre{
    height: calc(100% - 200px);
    position: relative;
}

.extras{
    position: absolute;
    bottom: -450px;
    right: -500px;
    width: 1000px;
    height: 1000px;
    border-radius: 50%;
    background-color: #3da199;
}

.texto-sobre{
    margin-top: 60px;
}

.texto-sobre h1{
    font-size: 50px;
    max-width: 700px;
}

.texto-sobre p{
    margin: 20px 0;
    color: black;
    font-size: 14px;
    font-weight: bold;
    max-width: 700px;
}

.texto-sobre button{
    border: 0;
    background-color: #3da199;
    color: white;
    border-radius: 10px;
    width: 100px;
    height: 30px;
    cursor: pointer;
}

.link-lab {
    border: 0;
    background-color: #3da199;
    color: white;
    border-radius: 10px;
    /* width: 100px; */
    /* height: 30px; */
    cursor: pointer;
    text-decoration: none;
    padding: 5px 15px;
    font-size: 10pt;
}

.link-lab:hover {
    background-color: #2eb8ac;
}

pre {
    /*background: wheat;*/
	background: #3da199;
    padding: 10px 10px;
    /* font-style: italic; */
    font-family: monospace;
    font-size: 11pt;
    /*color: darkslategrey;*/
	color: #FFFFFF;
    width: 40%;
}

.black-white {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}


.dropdown button {
  border: 0;
  background-color: #3da199;
  color: white;
  border-radius: 10px;
  width: 140px;
  height: 50px;
  cursor: pointer;
  text-align: center;
  display: inline-block;
  font-size: 20px;
}
.dropdown {
  display: inline-block;
  position: relative;
}
.dropdown-content {
  display: none;
  position: absolute;
  width: 400%;
  overflow: auto;
  box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.4);
	
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown-content a {
  display: block;
  color: #000000;
  padding: 5px;
  text-decoration: none;
}
.dropdown-content a:hover {
  color: #FFFFFF;
  background-color: #3da199;
}

p {
  text-indent: 4ch;
}

.just {
	text-align: justify;
}

.resultestes {
	width: 232px;
}

.listapar{
	text-indent: 4ch;
}

.table bordatab {
  border: 1px solid black;
  border-collapse: collapse;
}

.td bordatab {
  border: 1px solid black;
  border-collapse: collapse;
}

.tr bordatab {
  border: 1px solid black;
  border-collapse: collapse;
}